@model HangrySoT.Website.Controllers.HangryViewModel

@{
    ViewBag.Title = "Results";
}

<div class="row" id="logo">
    <h3>hangry</h3>
</div>

<div class="row" id="picture">
    <img src="~/Content/chef-2.svg" />
</div>

<div class="row" id="mood">
    <p id="moodtext">@Model.hangryMessage</p>
</div>

<div class="row" id="resultName">
    <p id="resultNametext">@Model.restName</p>
</div>

<div class="row" id="locationresult">
    <p id="locationtext">@Model.restAddress</p>
</div>

<div class="row" id="distance">
    <p id="locationtext">Just @Model.restDistance meters away</p>
</div>

@if (Model.restAvgPrice > 0)
{
<div class="row" id="avgPrice">
    <p id="locationtext">Average price of @Model.restAvgPrice.ToString("C")</p>
</div>
}

<div class="btn row resultspacing" id="location">
    <a class="button resultbtn" target="_blank" role="button" href="https://maps.google.com/maps/dir/Current+Location/@Model.restLat,@Model.restLon">get directions</a>
</div>

<div class="btn row" id="try">
    <a href="@Url.Action("Index")" style="color:white;">try again</a>
</div>