<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Web App Enhancements-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#F44336">
    <link rel="apple-touch-icon" href="~/Content/iphoneicon.png">
    <!--Windows Live Tile with Summer of Tech Twitter Feed-->
    <meta name="application-name" content="Hangry" />
    <meta name="msapplication-square70x70logo" content="small.jpg" />
    <meta name="msapplication-square150x150logo" content="medium.jpg" />
    <meta name="msapplication-wide310x150logo" content="wide.jpg" />
    <meta name="msapplication-square310x310logo" content="large.jpg" />
    <meta name="msapplication-TileColor" content="#F44336" />
    <meta name="msapplication-notification" content="frequency=30;polling-uri=http://notifications.buildmypinnedsite.com/?feed=https://twitrss.me/twitter_user_to_rss/?user=summeroftech&amp;id=1;polling-uri2=http://notifications.buildmypinnedsite.com/?feed=https://twitrss.me/twitter_user_to_rss/?user=summeroftech&amp;id=2;polling-uri3=http://notifications.buildmypinnedsite.com/?feed=https://twitrss.me/twitter_user_to_rss/?user=summeroftech&amp;id=3;polling-uri4=http://notifications.buildmypinnedsite.com/?feed=https://twitrss.me/twitter_user_to_rss/?user=summeroftech&amp;id=4;polling-uri5=http://notifications.buildmypinnedsite.com/?feed=https://twitrss.me/twitter_user_to_rss/?user=summeroftech&amp;id=5; cycle=1" />

    <title>@ViewBag.Title - Hangry</title>
    <link rel="stylesheet" type="text/css" href="~/Scripts/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <div class="container body-content">
            @RenderBody()

        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
  
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
